* {
    padding: 0px;
    margin: 0px;
}


}
dialog {
    background: rgba(255, 255, 255, 0.7);
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.conmain {
    max-width: 500px;
    background-color: aqua;
    margin: 0 auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
h2,
h3 {
    text-align: center;
}
.Game {
    margin-left: 100px;
    font-size: 24px;
    border-radius: 5px;
}
.News {
    margin-left: 150px;
    font-size: 24px;
    border-radius: 5px;
}
.Prev {
    margin-left: 70px;
    font-size: 24px;
    border-radius: 5px;
}
.Ok {
    margin-left: 50px;
    font-size: 24px;
    border-radius: 5px;
}
.Next {
    margin-left: 50px;
    font-size: 24px;
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
    background-color: chartreuse;
}
label {
    margin-left: 10px;
}
#input {
    margin-left: 16px;
}
span {
    margin-left: 10px;
}